<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layuiAdmin std - 通用后台管理模板系统（iframe标准版）</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

    <script type="text/javascript" src="../../layuiadmin/layui/layui.js"></script>


    <script type="text/javascript" src="../../layuiadmin/jquery-3.5.1.js"></script>

</head>


<script>

    var nodeId;

    function mya(obj) {

        var thisObj = $(obj) //js对象转jquery对象
        thisObj.parents().addClass('layui-this')
        thisObj.siblings().css("layui-nav-item layui-nav-itemed")

        $('#video').attr("src", thisObj.attr('sr'))


        $('#itemsText').text(thisObj.attr('itemsText'))
        nodeId = $(obj).attr("id")

    }

</script>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">


        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="/back/console">
                    <span>作品详情审核</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">


                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body" style="top: 10px">

            <div style="display: flex">
                <div>
                    <video width="90%" height="100%" controls="controls" style="padding-left: 10%"
                           id="video" src="">
                    </video>
                </div>
                <div style="flex-direction: row-reverse ;padding-left: 10%; padding-top: 5%">

                    <div>
                        <h2 id="itemsText">

                        </h2>
                    </div>


                    <div>

                        <h1 id="reState"></h1>

                        <P id="comtemt"></P>

                        <img  id="img" src="">
                    </div>


                </div>

                <div style="padding-top: 20%; padding-left :10%;display: flex;">

                    <button type="button" id="nodeyes" class="layui-btn layui-btn-radius">通过检查</button>
                    <button type="button" id="nodeno" class="layui-btn layui-btn-radius layui-btn-danger">不通过检查
                    </button>

                </div>
            </div>


        </div>


    </div>
</div>


<script th:inline="javascript">


    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    layui.use(['layer', 'element', 'form'], function () {
        var layer = layui.layer;

        var element = layui.element;

        let pkArtworkId1 = [[${pkArtworkId}]];
        let reportId = [[${reportId}]];

        console.log(pkArtworkId1)

        $.ajax({
            type: 'post',// ajax请求的方式，post或get
            url: '/ims/back/reportArtWork/getArtWorkNoteS',
            // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
            // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
            data: {
                pkArtworkId: pkArtworkId1,
                reportId: reportId
            },// 要上传的参数,把数组对象转换为JSON字符串
            dataType: 'json',// 服务器响应数据：json,text,html,xml
            processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
            success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                let data = res.data;
                let reportHistroy = data.reportHistroy;
                console.log(res.data)
                if (reportHistroy != null) {

                    if (reportHistroy.reState == 1) {
                        console.log(111)
                        $('#reState').text("投诉理由：侵权")
                    } else if (reportHistroy.reState == 2) {
                        $('#reState').text("投诉理由：违规")
                    } else if (reportHistroy.reState == 3) {
                        $('#reState').text("投诉理由：其他")
                    }
                    if (reportHistroy.comtemt != null) {
                        $('#comtemt').text("投诉原因：" + reportHistroy.comtemt)
                    } else {
                        $('#comtemt').text("投诉原因：无")
                    }
                    if (reportHistroy.imgUrl != null) {

                        $('#img').attr("src", reportHistroy.imgUrl)
                        $('#img').css("width","270px")
                        $('#img').css("height","480px")
                    }
                }
                f(data.artWork);
                element.init('nav')


            },
        });

        function f(artWorkVo) {
            if (artWorkVo != null) {


                addTree(artWorkVo.pkDetailId, artWorkVo.videoUrl, artWorkVo.itemsText, artWorkVo.fkEndingId)
                if (artWorkVo.nodesVos != null) {

                    artWorkVo.nodesVos.forEach(v => {
                        f(v);
                    })
                }
            }

        }

        // 修改
        function addTree(id, videoUrl, itemsText, fkEndingId) {

            let parseJSON = $.parseJSON(itemsText);
            var chooseText = '选项信息：'
            parseJSON.forEach(v => {

                chooseText += v.value
            })


            var item;

            if (fkEndingId == 1) {
                item = 'layui-icon-star-fill';
            } else if (fkEndingId == 2) {
                item = 'layui-icon-face-cry';
            } else if (fkEndingId == 3) {
                item = 'layui-icon-help';
            } else if (fkEndingId == 4) {
                item = 'layui-icon-ok';
            } else if (fkEndingId == 5) {
                item = 'layui-icon-close';
            } else if (fkEndingId == 6) {
                item = 'layui-icon-add-circle-fine';
            } else {
                item = 'layui-icon-circle-dot'
            }


            let s = '<li  data-name="home" class="layui-nav-item layui-nav-itemed " > <a onclick="mya(this)" id="' + id + '" sr="' + videoUrl + '" itemsText="' + chooseText + '">  <i class="layui-icon ' + item + '"></i>     <cite>' + id + '</cite>  </a></li>'
            $('#LAY-system-side-menu').append(s)

        }


    });


    $('#nodeyes').click(function () {

        $.ajax({
            type: 'post',// ajax请求的方式，post或get
            url: '/ims/back/artWork/upDataNode',
            // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
            // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
            data: {
                pkDetailId: nodeId,
                fkEndingId: '4',

            },// 要上传的参数,把数组对象转换为JSON字符串
            dataType: 'json',// 服务器响应数据：json,text,html,xml
            processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
            success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据

                layer.msg(res.msg);
            },
        });

    })

    $('#nodeno').click(function () {

        $.ajax({
            type: 'post',// ajax请求的方式，post或get
            url: '/ims/back/artWork/upDataNode',
            // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
            // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
            data: {
                pkDetailId: nodeId,
                fkEndingId: '5',

            },// 要上传的参数,把数组对象转换为JSON字符串
            dataType: 'json',// 服务器响应数据：json,text,html,xml
            processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
            success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据

                layer.msg(res.msg);
            },
        });

    })


</script>
</body>
</html>


