<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

<script type="text/javascript" src="../../layuiadmin/layui/layui.js"></script>

<style>
    /*修改layui表格的高度*/
    .layui-table-cell {
        height: auto;
    }
</style>
<body class="layui-card-body layui-card">
<div style="padding: 10px;" class="layui-card">
    <form id="queryForm" class="layui-form" method="post"
          style="display: flex;align-items: center;padding-left: 50px">
        <div class="layui-hide-xs" style="display: flex;align-items: center">
            <span style="width: fit-content">id：</span>
            <input class="layui-input" name="pkArtworkId" id="nickName"
                   style="width: 120px;"/>
        </div>
        <div class="layui-hide-xs" style="display: flex;align-items: center;margin-left: 20px">
            <label style="width:  fit-content">作者id：</label><input class="layui-input" name="fkUserid" id="realName"
                                                                 style="width: 120px"/>
        </div>
        <div style="display: flex;align-items: center;margin-left: 20px">
            <label style="width:  fit-content">作品名字：</label><input class="layui-input" name="artworkName" id="phone" style="width: 120px"/>
        </div>

        <div class="layui-input-block">
            <select name="artworkStatus">
                <option value="">请选择</option>
                <option value="0">草稿</option>
                <option value="1">待审核</option>
                <option value="2">通过</option>
                <option value="3">ai审核通过</option>
                <option value="4">已发布</option>
                <option value="5">删除</option>
            </select>
        </div>

        <div style="display: flex;align-items: center;margin-left: 20px">
            <button type="button" class="layui-btn" id="queryBtn" lay-submit lay-filter="queryForm">查询</button>
        </div>
    </form>

    <table id="artWorkTable" lay-filter="artWorkTableFilter" style="padding-top: 10px"></table>
    <!--        <div th:include="plugins/splitBar::splitBar"></div>-->

</div>


<script type="text/html" id="showBigImgDiv">
    <div>
        <img id="showBigImg" src="" style="width: 100%;height: 100%"/>
    </div>
</script>

<!--查看这个角色的角色的弹框-->
<script type="text/html" id="setArtWorkDiv">
    <div style="padding: 20px">

        <form class="layui-form">

            <input type="text" style="display: none" name="pkArtworkId" id="pkArtworkId">



            <div class="layui-form-item" id="rolesdiv">
                <label class="layui-form-label">调整</label>
                <div class="layui-input-block">
                    <select name="artworkStatus">
                        <option value="">请选择</option>
                        <option value="0">草稿</option>
                        <option value="1">待审核</option>
                        <option value="2">通过</option>
                        <option value="3">ai审核通过</option>
                        <option value="4">已发布</option>
                        <option value="5">删除</option>
                    </select>
                </div>
            </div>


            <div style="text-align: center">
                <input type="submit" class="layui-btn layui-btn-danger" lay-submit onclick="return false;"
                       lay-filter="sureDispatch">
            </div>
        </form>

    </div>

</script>

<!--// 加上th:inline='javascript' 否则可能会因为小于或者大于符号导致 thymeleaf模板引擎解析错误。-->
<script th:inline="javascript" type="text/javascript">

    layui.use(['table', 'layer', 'laydate', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;
        laydate.render({
            elem: '#creteDateRange' //指定元素
            , range: '至'
        });

        var artWorkTable = table.render({
            elem: '#artWorkTable'
            , page: true
            , url: '/ims/back/artWork/ajaxList' //数据接口
            , cols: [[ //表头
                {width: 40, type: "checkbox"}
                , {field: 'pkArtworkId', title: '作品ID', width: 120}
                , {field: 'fkUserid', title: '作者ID', width: 120}
                , {field: 'username', title: '作者', width: 120}
                , {field: 'artworkName', title: '作品名字', width: 120}
                , {field: 'artworkDescribe', title: '描述', width: 140}
                , {field: 'fourLetterTips', title: '分类', width: 140}
                , {field: 'lastCreateDate', title: '创建时间', width: 150}
                , {field: 'lastModifyDate', title: '修改时间', width: 150}
                , {field: 'logoPath', title: '封面', width: 120 , templet: function (d) {
                        return '<div>' +
                            '<img  showBig style="width: 50px;height: 50px;border-radius: 5px" src="'+d.logoPath+'">'
                        '</div>'
                    }}
                , {field: 'fkAuditName', title: '审核人', width: 120}
                , {
                    field: 'artworkStatus', title: '状态', width: 90, templet: function (d) {

                        if (d.artworkStatus == "0") {
                            return '<div >' +
                                '<button class="layui-btn layui-btn-normal  layui-btn-xs" lay-event="lock">草 稿</button>' +
                                '</div>'
                        }else if (d.artworkStatus == "1"){
                            return '<div >' +
                                '<button class="layui-btn layui-btn-warm  layui-btn-xs" lay-event="lock">待审核</button>' +
                                '</div>'
                        }else if (d.artworkStatus == "2"){
                            return '<div >' +
                                '<button class="layui-btn  layui-btn-xs" lay-event="lock">审核通过</button>' +
                                '</div>'
                        }else if (d.artworkStatus == "3"){
                            return '<div >' +
                                '<button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lock">审核不通过</button>' +
                                '</div>'
                        }else if (d.artworkStatus == "4"){
                            return '<div >' +
                                '<button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lock">已发布</button>' +
                                '</div>'
                        }else if (d.artworkStatus == "5"){
                            return '<div >' +
                                '<button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lock">删 除</button>' +
                                '</div>'
                        }

                    }
                }
                , {
                    field: '', title: '操作', width: 110, templet: function (d) {
                        return '<div >' +
                            '<button class="layui-btn  layui-btn-warm layui-btn-xs" lay-event="setArtWork">调整作品</button>' +
                            '</div>'
                    }
                }
            ]]
            , toolbar: 'default'
            , done() {// 表格渲染完成之后，也就是图片都被渲染好了
                showBigImg();// 渲染大图查看，给这些图片绑定点击事件
            }

        });

        //监听头部工具栏的事件
        table.on('toolbar(artWorkTableFilter)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.msg('添加');
                    break;
                case 'delete':
                    layer.msg('删除');
                    break;
                case 'update':
                    layer.msg('编辑');
                    break;
            }
            ;
        });



        //监听行中工具栏事件
        table.on('tool(artWorkTableFilter)', function (obj) {

            var d = obj.data;

            switch (obj.event) {

                case 'setArtWork':

                    let editRoleOpen = layer.open({
                        type: 1,
                        area: ['50%', '50%'],
                        title: '调整作品',
                        content: $('#setArtWorkDiv').html() //这里content是一个普通的String
                    });


                    $("#pkArtworkId").val(d.pkArtworkId)

                    form.render();

                    //调整 权限
                    form.on('submit(sureDispatch)', function (data) {



                        $.ajax({
                            type: 'post',// ajax请求的方式，post或get
                            url: '/ims/back/artWork/chengArtWork',
                            // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                            // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                            data: data.field,// 要上传的参数,把数组对象转换为JSON字符串
                            dataType: 'json',// 服务器响应数据：json,text,html,xml
                            processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                            success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据

                                layer.msg(res.msg)

                                let page = $('.layui-laypage-skip .layui-input').val();
                                let limit = $('.layui-laypage-limits').find('option:selected').val();
                                layer.close(editRoleOpen); //再执行关闭

                                artWorkTable.reload({
                                    page: page,
                                    size:limit,
                                });


                            },
                        });

                    })


                    break;

                case 'edit':
                    // 在这之前还需要render(渲染)一把
                    break;
            }
        });
        //条件查询
        form.on('submit(queryForm)', function (data) {
            artWorkTable.reload({
                where: data.field,
                page: {curr: 1}
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });


        function showBigImg() {// 渲染大图查看
            $("img[showBig]").unbind("click").click(function () {// 先解除绑定，再绑定，绑定图片点击事件，否则会出现绑定两次点击事件

                let bigImg = layer.open({// 弹框之后，如遇到select标签，radio,checkbox之类，需要使用表单渲染
                    type: 1,
                    offset: '10px',
                    area: ['385px', '720px'],
                    title: "大图展示",
                    shadeClose: true,
                    content: $("#showBigImgDiv").html()
                });
                $("#showBigImg")[0].src = this.src;
            });
        }

    })

</script>


</body>


</html>
