<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

<script type="text/javascript" src="../../layuiadmin/layui/layui.js"></script>

<style>
    /*修改layui表格的高度*/
    .layui-table-cell {
        height: auto;
    }
</style>
<body class="layui-card-body layui-card">
<div style="padding: 10px;" class="layui-card">
    <div style="padding: 20px">

        <form class="layui-form">

            <input type="text" style="display: none" name="ecmBannerId" id="ecmBannerId">

            <div class="layui-form-item">
                <label class="layui-form-label">banner名称</label>
                <div class="layui-input-block">
                    <input type="text" name="ecmBannerName"
                           autocomplete="off" placeholder="请输入" class="layui-input" id="ecmBannerName">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">baner广告图片地址</label>
                <div class="layui-input-block">
                    <input type="text" name="ecmBannerAddress"
                           autocomplete="off" placeholder="请输入" class="layui-input" id="ecmBannerAddress">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">baner广告状态</label>
                <div class="layui-input-block">
                    <select name="ecmBannerState" id="ecmBannerState">
                         <option value="0">未使用</option>
                         <option value="1">使用</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">是否打开跳转</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" id="ecmBannerConnectionState" name="ecmBannerConnectionState" lay-skin="switch" lay-filter="switchTest" lay-text="开|关">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">baner广告点击图片连接地址</label>
                <div class="layui-input-block">
                    <input type="text" name="ecmBannerConnectionUrl"
                           autocomplete="off" placeholder="请输入" class="layui-input" id="ecmBannerConnectionUrl">
                </div>
            </div>


            <div style="width: 100px; margin: 10px auto">
                <button class="layui-btn layui-btn-fluid" lay-submit onclick="return false;" lay-filter="sureDispatch" >提交
                </button>
            </div>


            <!--                </div>-->
            <!--            </div>-->

        </form>

    </div>

</div>



<!--// 加上th:inline='javascript' 否则可能会因为小于或者大于符号导致 thymeleaf模板引擎解析错误。-->
<script th:inline="javascript" type="text/javascript">

    layui.use(['table', 'layer', 'laydate', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;
        laydate.render({
            elem: '#creteDateRange' //指定元素
            , range: '至'
        });


        function getData() {
            $.ajax({
                type: 'post',// ajax请求的方式，post或get
                url: '/ims/back/advertising/getBannerAd',
                // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                data: {ecmBannerId : 1},// 要上传的参数,把数组对象转换为JSON字符串
                dataType: 'json',// 服务器响应数据：json,text,html,xml
                processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                    // console.log(res)
                    $("#ecmBannerName").val(res.data.ecmBannerName)
                    $("#ecmBannerAddress").val(res.data.ecmBannerAddress)

                    // <option value="0">未使用</option>
                    // <option value="1">使用</option>
                    // let  select = res.ecmBannerState == 1 ? "selected": ""
                    // $("#ecmBannerState").append("<option value='0'" +  select + ">未使用</option>")
                    // $("#ecmBannerState").append("<option value='1' " +  select + ">使用</option>")

                    $('#ecmBannerState').val(res.data.ecmBannerState );
                    $('#ecmBannerConnectionUrl').val(res.data.ecmBannerConnectionUrl );
                    // console.log(data.elem.checked); //开关是否开启，true或者false
                    // $('#ecmBannerConnectionState').val(res.data.ecmBannerConnectionState != 0 );
                    let elementById = document.getElementById('ecmBannerConnectionState');
                    elementById.checked = res.data.ecmBannerConnectionState != 0

                    // console.log( ); //开关是否开启，true或者false


                    form.render();


                },
            });
        }
        getData()

        //新增用户
        form.on('submit(sureDispatch)', function (data) {
            console.log(data.field)
            if (data.field.ecmBannerConnectionState == null) {
                data.field.ecmBannerConnectionState = 0
            }else {
                data.field.ecmBannerConnectionState= 1
            }

            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入确定来确定操作',
                area: ['40px', '30px'] //自定义文本域宽高
            }, function (value, index, elem) {
                if (value == '确定') {
                    var layerLoad = layer.load()
                    $.ajax({
                        type: 'post',// ajax请求的方式，post或get
                        url: '/ims/back/advertising/updateBannerAdSettings',
                        // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                        // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                        data: data.field,// 要上传的参数,把数组对象转换为JSON字符串
                        dataType: 'json',// 服务器响应数据：json,text,html,xml
                        processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                        success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                            layer.close(layerLoad)
                            layer.msg(res.msg)
                            getData()
                        },


                    });
                    layer.close(index);

                } else {
                    layer.msg('输入有误');
                }
            });


        })



    })


</script>


</body>


</html>
