<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>万像成帧 管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">-->
    <!--    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">-->

    <!--    <script type="text/javascript" src="../layuiadmin/layui/layui.js"></script>-->

    <link rel="stylesheet" href="../../ims/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../ims/layuiadmin/style/admin.css" media="all">

    <script type="text/javascript" src="../../ims/layuiadmin/layui/layui.js"></script>
</head>
<body>

<div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
    <div style="margin: 100px 200px">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="test1" name="queryDateTime">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="downExcl" >立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
        form.on('submit(formDemo)', function (data) {
            console.log(data.field)
            window.open("https://wanxiangchengzhen.com/ims/back/statistics/downloadFile?queryDateTime="+data.field.queryDateTime.replace(/-/g,"/"));
            // var msgdata = {pkTemplateId:data.field.pkTemplateId, ids:ids}
        });
    });


</script>
</body>
</html>
