<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">

<script type="text/javascript" src="../../layuiadmin/layui/layui.js"></script>

<style>
    /*修改layui表格的高度*/
    .layui-table-cell {
        height: auto;
    }
</style>
<body class="layui-card-body layui-card">
<div style="padding: 10px;" class="layui-card">
    <div style="display: flex">
        <form id="queryForm" class="layui-form" method="post"
              style="display: flex;align-items: center;padding-left: 50px">
            <div class="layui-hide-xs" style="display: flex;align-items: center">
                <span style="width: fit-content">商品 id：</span>
                <input class="layui-input" name="pkGoodsId"
                       style="width: 120px;"/>
            </div>
            <div class="layui-hide-xs" style="display: flex;align-items: center;margin-left: 20px">
                <label style="width:  fit-content">商品类目 id：</label>
                <input class="layui-input" name="fkGoodsCategoryId"
                       style="width: 120px"/>
            </div>
            <div style="display: flex;align-items: center;margin-left: 20px">
                <label style="width:  fit-content">商品名称：</label>
                <input class="layui-input" name="goodsName"
                       style="width: 120px"/>
            </div>
            <div style="display: flex;align-items: center;margin-left: 20px">
                <label style="width:  fit-content">商品类别名称：</label>
                <input class="layui-input" name="categoryName"
                       style="width: 120px"/>
            </div>


            <div style="display: flex;align-items: center;margin-left: 20px">
                <label style="width:  fit-content">商品状态：</label>
                <select name="goodsState">
                    <option value="">请选择</option>
                    <option value="0">出售中</option>
                    <option value="1">已下架</option>
                </select>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">商品类目</label>
                <div class="layui-input-block">
                    <select name="fkGoodsCategoryId" lay-verify="required" id="selectGoodsCategoryQuery"
                            lay-filter="selectGoodsCategoryAll">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div style="display: flex;align-items: center;margin-left: 20px">
                <button type="button" class="layui-btn" id="queryBtn" lay-submit lay-filter="queryForm">查询</button>
            </div>
        </form>
        <div style="padding-left: 5%"></div>
    </div>
    <table id="tTable" lay-filter="tTableFilter" style="padding-top: 10px"></table>
    <!--        <div th:include="plugins/splitBar::splitBar"></div>-->

</div>


<script type="text/html" id="showeditDiv">
    <div style="padding: 20px">

        <form class="layui-form">

            <input type="text" style="display: none" name="pkGoodsId" id="pkGoodsId">

            <div class="layui-form-item">
                <label class="layui-form-label">商品类目</label>
                <div class="layui-input-block">
                    <select name="fkGoodsCategoryId" lay-verify="required" id="selectGoodsCategoryEdit"
                            lay-filter="selectGoodsCategoryAll">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="goodsName" lay-verify="required|title" id="goodsName"
                           autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">商品排序</label>
                <div class="layui-input-block">
                    <input name="goodsSort" lay-verify="required|number" placeholder="请输入"  id="goodsSort" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">商品价格</label>
                <div class="layui-input-block">
                    <input name="goodsPrice" lay-verify="required|number" placeholder="请输入"  id="goodsPrice" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">流量包大小 KB(会员套餐时不填)</label>
                <div class="layui-input-block">
                    <input name="goodsFlow" lay-verify="required|number" placeholder="请输入"  id="goodsFlow"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">说明内容</label>
                <div class="layui-input-block">
                    <textarea  name="goodsContext" placeholder="请输入内容" class="layui-textarea"  id="goodsContext" disabled></textarea>
                </div>
            </div>

            <!--                <div class="layui-input-block">-->
            <button class="layui-btn layui-btn-fluid" lay-submit onclick="return false;" lay-filter="sureDispatch">提交
            </button>

            <!--                </div>-->
            <!--            </div>-->

        </form>

    </div>

</script>

<script type="text/html" id="addGoodsDiv">
    <div style="padding: 20px">

        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">商品类目</label>
                <div class="layui-input-block">
                    <select name="fkGoodsCategoryId" lay-verify="required" id="selectGoodsCategoryAll"
                            lay-filter="selectGoodsCategoryAll">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="goodsName" lay-verify="required|title"
                           autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">商品排序</label>
                <div class="layui-input-block">
                    <input name="goodsSort" lay-verify="required|number" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">商品价格</label>
                <div class="layui-input-block">
                    <input name="goodsPrice" lay-verify="required|number" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">流量包大小 KB(会员套餐时不填)</label>
                <div class="layui-input-block">
                    <input name="goodsFlow" lay-verify="required|number" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">说明内容</label>
                <div class="layui-input-block">
                    <textarea  name="goodsContext" placeholder="请输入内容" class="layui-textarea"   disabled></textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <select name="goodsState">
                        <option value="0">出售中</option>
                        <option value="1">已下架</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit onclick="return false;" lay-filter="addGoods">提交</button>

                </div>
            </div>

        </form>


    </div>

</script>
<!--// 加上th:inline='javascript' 否则可能会因为小于或者大于符号导致 thymeleaf模板引擎解析错误。-->
<script th:inline="javascript" type="text/javascript">

    layui.use(['table', 'layer', 'laydate', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;

        laydate.render({
            elem: '#creteDateRange' //指定元素
            , range: '至'
        });

        $.ajax({
            type: 'post',// ajax请求的方式，post或get
            url: '/ims/back/goods/ajaxGoodsCategoryList',
            // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
            // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
            data: {
                page: 1,
                limit: 10000
            },// 要上传的参数,把数组对象转换为JSON字符串
            dataType: 'json',// 服务器响应数据：json,text,html,xml
            processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
            success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                console.log(res)
                res.data.forEach(msg => {

                    $('#selectGoodsCategoryQuery').append("<option   value='" + msg.pkCategoryId + " '>" + msg.categoryName + "</option>")
                })
                form.render();

                // layer.msg(res.msg);
            },
        });

        form.render();

        var tTable = table.render({
            elem: '#tTable'
            , page: true
            , url: '/ims/back/goods/ajaxGoodsList' //数据接口
            , cols: [[ //表头
                {field: 'pkGoodsId', title: 'ID', width: 120}
                , {field: 'goodsName', title: '商品名称', width: 120}
                , {field: 'categoryName', title: '商品类目', width: 120}
                , {field: 'goodsPrice', title: '商品价格', width: 120}
                , {
                    field: 'goodsState', title: '商品状态', width: 120, templet: function (d) {
                        if (d.goodsState == "0") {
                            return '<div >' +
                                '<button class="layui-btn layui-btn-normal  layui-btn-xs" >出售中</button>' +
                                '</div>'
                        } else if (d.goodsState == "1") {
                            return '<div >' +
                                '<button class="layui-btn layui-btn-warm  layui-btn-xs" >已下架</button>' +
                                '</div>'
                        }
                    }
                }
                , {field: 'goodsFlow', title: '流量包(KB)', width: 120}
                , {field: 'goodsSort', title: '排序', width: 120}
                , {
                    field: '', title: '操作', width: 240, templet: function (d) {
                        return '<div >' +
                            '<button class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="up-goods">上架商品</button>' +
                            '<button class="layui-btn  layui-btn-warm layui-btn-xs" lay-event="down-goods">下架商品</button>' +
                            '<button class="layui-btn  layui-btn-danger layui-btn-xs" lay-event="update-goods">修改商品</button>' +
                            '</div>'
                    }
                }
            ]]
            , toolbar: 'default'

        });

        //监听头部工具栏的事件
        table.on('toolbar(tTableFilter)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    addaddGoodsBtn();
                    break;
                case 'delete':


                    layer.msg('删除');
                    break;
                case 'update':
                    layer.msg('编辑');
                    break;
            }
            ;
        });
        $('#addGoodsBtn').click(function () {
            addaddGoodsBtn()
        })

        //监听行中工具栏事件
        table.on('tool(tTableFilter)', function (obj) {

            var d = obj.data;


            switch (obj.event) {

                case 'update-goods':

                    let editmes = layer.open({
                        type: 1,
                        area: ['70%', '70%'],
                        title: '修改商品',
                        content: $('#showeditDiv').html() //这里content是一个普通的String
                    });
                    $("#pkGoodsId").val(d.pkGoodsId)
                    $('#goodsName').val(d.goodsName)
                    $('#goodsPrice').val(d.goodsPrice)
                    $('#goodsFlow').val(d.goodsFlow)
                    $('#goodsContext').val(d.goodsContext)
                    $('#goodsSort').val(d.goodsSort)

                    $.ajax({
                        type: 'post',// ajax请求的方式，post或get
                        url: '/ims/back/goods/ajaxGoodsCategoryList',
                        // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                        // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                        data: {
                            page: 1,
                            limit: 10000
                        },// 要上传的参数,把数组对象转换为JSON字符串
                        dataType: 'json',// 服务器响应数据：json,text,html,xml
                        processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                        success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                            console.log(res)
                            res.data.forEach(msg => {
                                let  st = msg.pkCategoryId == d.fkGoodsCategoryId ? 'selected' : ''
                                $('#selectGoodsCategoryEdit').append("<option "+ st +"  value='" + msg.pkCategoryId + " '>" + msg.categoryName + "</option>")
                            })
                            form.render();

                            // layer.msg(res.msg);
                        },
                    });

                    form.render();

                    //提交 调整
                    form.on('submit(sureDispatch)', function (data) {


                        var d = data.field

                        if (d.goodsName == null || d.goodsName == '') {
                            layer.msg("商品名称不能为空")
                            return false;
                        }

                        if (d.goodsPrice == null || d.goodsPrice == '') {
                            layer.msg("商品价格不能为空")
                            return false;
                        }
                        if (d.fkGoodsCategoryId == null || d.fkGoodsCategoryId == '') {
                            layer.msg("商品类目不能为空")
                            return false;
                        }

                        $.ajax({
                            type: 'post',// ajax请求的方式，post或get
                            url: '/ims/back/goods/updateGoods',
                            // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                            // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                            data: data.field,// 要上传的参数,把数组对象转换为JSON字符串
                            dataType: 'json',// 服务器响应数据：json,text,html,xml
                            processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                            success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据

                                layer.msg(res.msg)

                                let page = $('.layui-laypage-skip .layui-input').val();
                                let limit = $('.layui-laypage-limits').find('option:selected').val();


                                layer.close(editmes); //再执行关闭

                                tTable.reload({
                                    page: page,
                                    size: limit,
                                });


                                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                            },


                        });


                    })


                    break;

                case 'down-goods':
                    layer.prompt({
                        formType: 2,
                        value: '',
                        title: '请输入确定来确定操作',
                        area: ['40px', '30px'] //自定义文本域宽高
                    }, function (value, index, elem) {
                        if (value == '确定') {

                            $.ajax({
                                type: 'post',// ajax请求的方式，post或get
                                url: '/ims/back/goods/updateGoods',
                                // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                                // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                                data: {
                                    pkGoodsId: d.pkGoodsId,
                                    goodsState: 1

                                },// 要上传的参数,把数组对象转换为JSON字符串
                                dataType: 'json',// 服务器响应数据：json,text,html,xml
                                processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                                success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                                    layer.msg(res.msg);


                                    // layer.close(seePage); //再执行关闭

                                    let page = $('.layui-laypage-skip .layui-input').val();
                                    let limit = $('.layui-laypage-limits').find('option:selected').val();

                                    tTable.reload({
                                        page: page,
                                        size: limit,
                                    });


                                },
                            });
                            layer.close(index);
                        } else {
                            layer.msg('输入有误');
                        }
                    });
                    // 在这之前还需要render(渲染)一把
                    break;
                case 'up-goods':

                    layer.prompt({
                        formType: 2,
                        value: '',
                        title: '请输入确定来确定操作',
                        area: ['40px', '30px'] //自定义文本域宽高
                    }, function (value, index, elem) {
                        if (value == '确定') {

                            $.ajax({
                                type: 'post',// ajax请求的方式，post或get
                                url: '/ims/back/goods/updateGoods',
                                // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                                // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                                data: {
                                    pkGoodsId: d.pkGoodsId,
                                    goodsState: 0

                                },// 要上传的参数,把数组对象转换为JSON字符串
                                dataType: 'json',// 服务器响应数据：json,text,html,xml
                                processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                                success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                                    layer.msg(res.msg);


                                    // layer.close(seePage); //再执行关闭

                                    let page = $('.layui-laypage-skip .layui-input').val();
                                    let limit = $('.layui-laypage-limits').find('option:selected').val();

                                    tTable.reload({
                                        page: page,
                                        size: limit,
                                    });


                                },
                            });
                            layer.close(index);
                        } else {
                            layer.msg('输入有误');
                        }
                    });
                    // 在这之前还需要render(渲染)一把
                    break;

                    form.render();
            }
        });


        //条件查询
        form.on('submit(queryForm)', function (data) {
            console.log("1111")
            tTable.reload({
                where: data.field,
                page: {curr: 1}
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        function addaddGoodsBtn() {

            let editmes = layer.open({
                type: 1,
                area: ['70%', '70%'],
                title: '编辑消息',
                content: $('#addGoodsDiv').html() //这里content是一个普通的String
            });
            $.ajax({
                type: 'post',// ajax请求的方式，post或get
                url: '/ims/back/goods/ajaxGoodsCategoryList',
                // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                data: {
                    page: 1,
                    limit: 10000
                },// 要上传的参数,把数组对象转换为JSON字符串
                dataType: 'json',// 服务器响应数据：json,text,html,xml
                processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                    console.log(res)
                    res.data.forEach(msg => {
                        $('#selectGoodsCategoryAll').append("<option value='" + msg.pkCategoryId + " '>" + msg.categoryName + "</option>")
                    })
                    form.render();

                    // layer.msg(res.msg);
                },
            });


            form.render();


            form.on('submit(addGoods)', function (data) {


                var d = data.field
                if (d.goodsName == null || d.goodsName == '') {
                    layer.msg("商品名称不能为空")
                    return false;
                }

                if (d.goodsPrice == null || d.goodsPrice == '') {
                    layer.msg("商品价格不能为空")
                    return false;
                }
                if (d.fkGoodsCategoryId == null || d.fkGoodsCategoryId == '') {
                    layer.msg("商品类目不能为空")
                    return false;
                }

                $.ajax({
                    type: 'post',// ajax请求的方式，post或get
                    url: '/ims/back/goods/addGoods',
                    // contentType: "application/json",// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                    // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                    data: data.field,// 要上传的参数,把数组对象转换为JSON字符串
                    dataType: 'json',// 服务器响应数据：json,text,html,xml
                    processData: true,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                    success: function (res) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                        layer.msg(res.msg);

                        let page = $('.layui-laypage-skip .layui-input').val();
                        let limit = $('.layui-laypage-limits').find('option:selected').val();


                        layer.close(editmes); //再执行关闭

                        tTable.reload({
                            page: page,
                            size: limit,
                        });
                    },
                });

            });


        }
    })
</script>


</body>


</html>
